.justify{
  text-align: justify;
  color: blue;
  width: 700px;
  height: 400px;
  background-image: url("avocado.jpg");
  border: 2px solid red;
}
body{
  background-image: url("Stupa_Borobudur.jpg");
}
.repeat{
  width: 700px;
  height: 200px;
  background-image: url("avocado.jpg");
  border:  solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
